.footer {
  width: 100%;
  padding: var(--marge-small);
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
}
