@import './variables.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: var(--marge-medium) 0;
}

.map {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
}

.button {
  width: 100%;
  margin: var(--marge-medium) 0;
  padding: 0 var(--marge-small);
  display: flex;
  justify-content: center;
  align-items: center;
}
