@import './variables.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: var(--main-color);

  .search{
    padding: var(--marge-small);

    input{
      padding: var(--marge-xs);
      border: none;
      border-radius: var(--border-radius);
    }
  }

  .nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: var(--background-color);
  }

  .filter-container, .action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--marge-xs) var(--marge-small);
  }

  .action-container{
    .btn{
      padding: var(--marge-xs) var(--marge-medium);
      color: #FFFFFF;
      background-color: var(--highlight-color);
      border-radius: var(--border-radius);
      cursor: pointer;
      user-select: none;

      &:hover{
        background-color: var(--highlight-color-light);
      }
    }
  }
}

.map {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-color);
  border-radius: 1rem;
}

.button {
  width: 100%;
  margin: var(--marge-medium) 0;
  padding: 0 var(--marge-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter{
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: var(--marge-small);
  border: 2px solid black;
  border-radius: var(--border-radius);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter input {
  position: absolute;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 4px;
  pointer-events: none;
}

.filter:not(:hover) input ~ .checkmark {
  color: #DDDDDD;
}

.filter input:checked ~ .checkmark {
  color: #FFFFFF;
}